@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

$font1: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo, sans-serif;
$font2: "YuMincho",'Yu Mincho',"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝","HGS明朝B", serif;
$font3 : 'Oswald', sans-serif;
$font4 : 'Kiwi Maru', serif;


$col1:#0a376e;
$col2: #fff;
$col3:#edf2f7;
$col4: #021345;
$colList: $col1,$col2;

$break1 : 897;

@mixin px_vw($f,$w){
  font-size: 1vw * $f / $w * 100;
}

@function pvv($f,$w){
  @return (math.div(1vw * $f, $w) * 100);
}
@function pvmin($f,$w){
  @return (math.div(1vmin * $f, $w) * 100);
}
@function pvvs($f1,$f2,$f3,$f4,$w){
  @return (math.div(1vw * $f1, $w) * 100) (math.div(1vw * $f2, $w) * 100) (math.div(1vw * $f3, $w) * 100) (math.div(1vw * $f4, $w) * 100);
}
@function pvvsw($f1,$f2,$w){
  @return (math.div(1vw * $f1, $w) * 100) (math.div(1vw * $f2, $w) * 100) (math.div(1vw * $f1, $w) * 100) (math.div(1vw * $f2, $w) * 100);
}

@function fit_size($b : 190, $s : 50, $w_m : 780, $w_s : 320){
  $diffw : $w_m - $w_s;
  $fsize_diff : $b - $s;
  $fsize_s : $s + 0px;
  $width_s : $w_s + 0px;
  @return calc(#{$fsize_diff} * calc((100vw - #{$width_s}) / #{$diffw}) + #{$fsize_s});
}


@mixin fonts_top_size($b : 190, $s : 50, $diffw : 780, $w_s : 320){
  $fsize_diff : $b - $s;
  $fsize_s : $s + 0px;
  $width_s : $w_s + 0px;
  font-size: calc(#{$fsize_diff} * calc((100vw - #{$width_s}) / #{$diffw}) + #{$fsize_s});
}

@mixin foo_size($b : 190, $s : 50, $w_m : 780, $w_s : 320,$w : width){
  $diffw : $w_m - $w_s;
  $fsize_diff : $b - $s;
  $fsize_s : $s + 0px;
  $width_s : $w_s + 0px;
  #{$w} : calc(#{$fsize_diff} * calc((100vw - #{$width_s}) / #{$diffw}) + #{$fsize_s});
}

@mixin foo_size_i($b : 190, $s : 50, $w_m : 780, $w_s : 320,$w : width){
  $diffw : $w_m - $w_s;
  $fsize_diff : $b - $s;
  $fsize_s : $s + 0px;
  $width_s : $w_s + 0px;
  #{$w} : calc(#{$fsize_diff} * calc((100vw - #{$width_s}) / #{$diffw}) + #{$fsize_s}) !important;
}


@keyframes show{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
@keyframes hide{
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}

$barH : .6em;

@keyframes bar1{
  0%{
    transform:translateY(0) rotate(45deg);
  }
  50%{
    transform:translateY(0) rotate(0);
  }
  100%{
    transform:translateY(-$barH) rotate(0)
  }
}

@keyframes on-bar1{
  0%{
    transform:translateY(-$barH) rotate(0);
  }
  50%{
    transform:translateY(0) rotate(0);
  }
  100%{
    transform:translateY(0) rotate(45deg);
  }
}

@keyframes bar3{
  0%{
    transform:translateY(0) rotate(-45deg);
  }
  50%{
    transform:translateY(0) rotate(0);
  }
  100%{
    transform:translateY($barH) rotate(0)
  }
}

@keyframes on-bar3{
  0%{
    transform:translateY($barH) rotate(0);
  }
  50%{
    transform:translateY(0) rotate(0);
  }
  100%{
    transform:translateY(0) rotate(-45deg);
  }
}

[data-scroll="opt0"]{
  transform:translateY(20px);
  opacity: 0;
  &.animIn{
    transition:transform .8s , opacity .8s ;
    transform:translateY(0);
    opacity: 1;
  }
}



@for $i from 1 through 50{
  [data-scroll="opt#{$i}"]{
    transform:translateY(20px);
    opacity: 0;
    &.animIn{
      transition:transform .8s #{$i*0.1}#{s} , opacity .8s  #{$i*0.1}#{s};
      transform:translateY(0);
      opacity: 1;
    }
  }

  [data-scroll="opx#{$i}"]{
    transform:translateX(20px);
    opacity: 0;
    &.animIn{
      transition:transform .8s #{$i*0.1}#{s} , opacity .8s  #{$i*0.1}#{s};
      transform:translateX(0);
      opacity: 1;
    }
  }


  [data-scroll="opxl#{$i}"]{
    transform:translateX(-20px);
    opacity: 0;
    &.animIn{
      transition:transform .8s #{$i*0.1}#{s} , opacity .8s  #{$i*0.1}#{s};
      transform:translateX(0);
      opacity: 1;
    }
  }
}


[data-scroll="opt"]{
  transform:translateY(20px);
  opacity: 0;
  &.animIn{
    transition:transform .8s  , opacity .8s ;
    transform:translateY(0);
    opacity: 1;
  }
}

[data-scroll="opx-l"]{
  transform:translateX(-20px);
  opacity: 0;
  &.animIn{
    transition:transform .8s  , opacity .8s ;
    transform:translateX(0);
    opacity: 1;
  }
}
[data-scroll="opx-r"]{
  transform:translateX(20px);
  opacity: 0;
  &.animIn{
    transition:transform .8s  , opacity .8s ;
    transform:translateX(0);
    opacity: 1;
  }
}

[data-scroll="op"]{
  opacity: 0;
  &.animIn{
    transition:opacity 1.5s .5s;
    opacity: 1;
  }
}


.spinner {
  margin: -2.5rem 0 0 -2.5rem;//60px auto;
  font-size: 5px;
  position: fixed;
  z-index: 2000;
  top:50%;
  left:50%;
  text-indent: -9999em;

  border-top: 2px solid $col1;
  border-right: 2px solid $col1;
  border-bottom: 2px solid $col1;
  border-left: 2px solid rgba($col1, 0.4);

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner,
	.spinner:after {
	  border-radius: 50%;
	  width: 5rem;
	  height: 5rem;
	}
	@-webkit-keyframes load8 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@keyframes load8 {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}



.hov{
  .image {
    overflow: hidden;
    img{
      transition:transform .5s;
      transform:scale(1);
    }
  }
  &:hover{
    a{
      opacity: 1;
    }
    .image{
      img{
        transform:scale(1.08);
      }
    }
  }
}


img{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
a{
  color:inherit;
  text-decoration: none;
  outline:none;
  &:hover{
    opacity: .8;
  }
}

html{
  font-size: 62.5%;
  &.gmaps{
    height:100%;
  }
}

body{
  line-height: 1.7;
  font-size: 1.6rem;
  font-family: $font1;
}
strong{
  font-weight: 700;
}
ul{
  list-style:none;
  margin:0;
}




$ww : 897;
$def : 16;



// .u_no_outline{
//   outline:none;
// }

// .u_ovf_h{
//   overflow: hidden;
// }

// .u_td_ud{
//   text-decoration: underline;
// }

// .u_cur_p{
// 	cursor: pointer;
// }

// .u_ff1{
//   font-family: $font1;
// }
// .u_ff2{
//   font-family: $font2;
// }
// .u_ff3{
//   font-family: $font3;
// }
// .u_ff4{
//   font-family: $font4;
// }

// .u_ls_n{
//   list-style: none !important;
// }
// .u_m0{
//   margin:0 !important;
// }
// .u_mt0{
//   margin-top:0 !important;
// }
// .u_mt_auto{
//   margin-top:auto;
// }
// .u_mr_auto{
//   margin-right:auto;
// }
// .u_ml_auto{
//   margin-left:auto;
// }
// .u_mb_auto{
//   margin-bottom:auto;
// }
// .u_mt0_last{
//   &:last-child{
//     margin-top:0 !important;
//   }
// }
// .u_mt0_first{
//   &:first-child{
//     margin-top:0 !important;
//   }
// }
// .u_pos_fix{
//   position:fixed;
// }
// .u_pos_abs{
//   position:absolute;
// }
// .u_pos_abs_i{
//   position:absolute !important;
// }
// .u_pos_rel{
//   position:relative;
//   height: 100%;
// }
// .u_h100{
//   height:100%;
// }
// $zero : 0;
// .u_t#{$zero}{
//   top:#{$zero};
// }
// .u_l#{$zero}{
//   left:#{$zero};
// }
// .u_r#{$zero}{
//   right:#{$zero};
// }
// .u_b#{$zero}{
//   bottom:#{$zero};
// }

// @for $i from 1 through 200{
//   //top, left, right, bottom
//   .u_t#{$i}{
//     top:#{$i}px;
//   }
//   .u_l#{$i}{
//     left:#{$i}px;
//   }
//   .u_r#{$i}{
//     right:#{$i}px;
//   }
//   .u_b#{$i}{
//     bottom:#{$i}px;
//   }


//   .u_t#{$i}_e{
//     top:#{$i}em;
//   }
//   .u_l#{$i}_e{
//     left:#{$i}em;
//   }
//   .u_r#{$i}_e{
//     right:#{$i}em;
//   }
//   .u_b#{$i}_e{
//     bottom:#{$i}em;
//   }

//   .u_t-#{$i}_e{
//     top:#{math.div($i,10)}em;
//   }
//   .u_l-#{$i}_e{
//     left:#{math.div($i,10)}em;
//   }
//   .u_r-#{$i}_e{
//     right:#{math.div($i,10)}em;
//   }
//   .u_b-#{$i}_e{
//     bottom:#{math.div($i,10)}em;
//   }


//   .u_mt#{$i}{
//     margin-top:#{$i}px ;
//   }
//   .u_mt-#{$i}{
//     margin-top:#{math.div($i,10)}px ;
//   }
//   .u_mtsp#{$i}{
//     margin-top:#{$i}px ;
//   }
//   .u_mtsp-#{$i}{
//     margin-top:#{math.div($i,10)}px ;
//   }
//   .u_mt#{$i}_i{
//     margin-top:#{$i}px !important;
//   }
//   .u_mt-#{$i}_i{
//     margin-top:#{math.div($i,10)}px !important;
//   }

//   .u_mt#{$i}_e{
//     margin-top:#{$i}em ;
//   }
//   .u_mt-#{$i}_e{
//     margin-top:#{math.div($i,10)}em ;
//   }
//   .u_mtsp#{$i}_e{
//     margin-top:#{$i}em ;
//   }
//   .u_mtsp-#{$i}_e{
//     margin-top:#{math.div($i,10)}em ;
//   }
//   .u_mt#{$i}_e_i{
//     margin-top:#{$i}em !important;
//   }
//   .u_mt-#{$i}_e_i{
//     margin-top:#{math.div($i,10)}em !important;
//   }
  
//   .u_ml#{$i}{
//     margin-left:#{$i}px;
//   }
//   .u_ml-#{$i}{
//     margin-left:#{math.div($i,10)}px;
//   }
//   .u_ml#{$i}_i{
//     margin-left:#{$i}px !important;
//   }
//   .u_ml-#{$i}_i{
//     margin-left:#{math.div($i,10)}px !important;
//   }
  
//   .u_ml#{$i}_e{
//     margin-left:#{$i}em;
//   }
//   .u_ml-#{$i}_e{
//     margin-left:#{math.div($i,10)}em;
//   }
//   .u_ml#{$i}_e_i{
//     margin-left:#{$i}em !important;
//   }
//   .u_ml-#{$i}_e_i{
//     margin-left:#{math.div($i,10)}em !important;
//   }

//   .u_mr#{$i}{
//     margin-right:#{$i}px;
//   }
//   .u_mr-#{$i}{
//     margin-right:#{math.div($i,10)}px;
//   }
//   .u_mr#{$i}_i{
//     margin-right:#{$i}px !important;
//   }
//   .u_mr-#{$i}_i{
//     margin-right:#{math.div($i,10)}px !important;
//   }
  
//   .u_mr#{$i}_e{
//     margin-right:#{$i}em;
//   }
//   .u_mr-#{$i}_e{
//     margin-right:#{math.div($i,10)}em;
//   }
//   .u_mr#{$i}_e_i{
//     margin-right:#{$i}em !important;
//   }
//   .u_mr-#{$i}_e_i{
//     margin-right:#{math.div($i,10)}em !important;
//   }

//   .u_mb#{$i}{
//     margin-bottom:#{$i}px ;
//   }
//   .u_mb-#{$i}{
//     margin-bottom:#{math.div($i,10)}px ;
//   }
//   .u_mb-#{$i}_i{
//     margin-bottom:#{math.div($i,10)}px !important;
//   }

//   .u_mb#{$i}_e{
//     margin-bottom:#{$i}em ;
//   }
//   .u_mb-#{$i}_e{
//     margin-bottom:#{math.div($i,10)}em ;
//   }
//   .u_mb-#{$i}_e_i{
//     margin-bottom:#{math.div($i,10)}em !important;
//   }

//   .u_mt#{$i}_rs{
//     margin-top:unquote('max(#{math.div($i , 2) * 1px}, #{pvv($i, $ww)}) ');
//     @media screen and (min-width: #{$break1}px) {
//       margin-top:#{$i}px;
//     }
//   }
//   .u_mb#{$i}_rs{
//     margin-bottom:unquote('max(#{math.div($i , 2) * 1px}, #{pvv($i, $ww)}) ');
//     @media screen and (min-width: #{$break1}px) {
//       margin-bottom:#{$i}px ;
//     }
//   }
  
//   .u_mt#{$i}_rs_e{
//     margin-top:unquote('max(#{math.div(($i * $def),2)*1px}, #{pvv(($i * $def), $ww)}) ');
//     @media screen and (min-width: #{$break1}px) {
//       margin-top:#{$i}em;
//     }
//   }
//   .u_mb#{$i}_rs_e{
//     margin-bottom:unquote('max(#{math.div(($i * $def),2)*1px}, #{pvv(($i * $def), $ww)}) ');
//     @media screen and (min-width: #{$break1}px) {
//       margin-bottom:#{$i}em ;
//     }
//   }

//   .u_px#{$i}{
//     padding-left:#{$i}px ; 
//     padding-right:#{$i}px ; 
//   }
//   .u_px-#{$i}{
//     padding-left:#{math.div($i,10)}px ; 
//     padding-right:#{math.div($i,10)}px ; 
//   }
//   .u_px#{$i}_e{
//     padding-left:#{$i}em ; 
//     padding-right:#{$i}em ; 
//   }
//   .u_px-#{$i}_e{
//     padding-left:#{math.div($i,10)}em ; 
//     padding-right:#{math.div($i,10)}em ; 
//   }
//   .u_px-#{$i}_i{
//     padding-left:#{math.div($i,10)}px !important; 
//     padding-right:#{math.div($i,10)}px !important; 
//   }
//   .u_px-#{$i}_e_i{
//     padding-left:#{math.div($i,10)}em !important; 
//     padding-right:#{math.div($i,10)}em !important; 
//   }
  
  

//   .u_py#{$i}{
//     padding-top:#{$i}px ; 
//     padding-bottom:#{$i}px ; 
//   }
//   .u_py-#{$i}{
//     padding-top:#{math.div($i,10)}px ; 
//     padding-bottom:#{math.div($i,10)}px ; 
//   }
//   .u_py#{$i}_i{
//     padding-top:#{$i}px !important; 
//     padding-bottom:#{$i}px !important; 
//   }
//   .u_py-#{$i}_i{
//     padding-top:#{math.div($i,10)}px !important; 
//     padding-bottom:#{math.div($i,10)}px !important; 
//   }

//   .u_py#{$i}_e{
//     padding-top:#{$i}em ; 
//     padding-bottom:#{$i}em ; 
//   }
//   .u_py-#{$i}_e{
//     padding-top:#{math.div($i,10)}em ; 
//     padding-bottom:#{math.div($i,10)}em ; 
//   }
//   .u_py#{$i}_e_i{
//     padding-top:#{$i}em !important ; 
//     padding-bottom:#{$i}em !important ; 
//   }


//   .u_pt#{$i}{
//     padding-top:#{$i}px;
//   }
//   .u_pr#{$i}{
//     padding-right:#{$i}px;
//   }
//   .u_pl#{$i}{
//     padding-left:#{$i}px;
//   }
//   .u_pb#{$i}{
//     padding-bottom:#{$i}px;
//   }
//   .u_pt-#{$i}{
//     padding-top:#{math.div($i,10)}px;
//   }
//   .u_pl-#{$i}{
//     padding-left:#{math.div($i,10)}px;
//   }
//   .u_pr-#{$i}{
//     padding-right:#{math.div($i,10)}px;
//   }
//   .u_pb-#{$i}{
//     padding-bottom:#{math.div($i,10)}px;
//   }

//   .u_pt#{$i}_i{
//     padding-top:#{$i}px !important;
//   }
//   .u_pr#{$i}_i{
//     padding-right:#{$i}px !important;
//   }
//   .u_pl#{$i}_i{
//     padding-left:#{$i}px !important;
//   }
//   .u_pb#{$i}_i{
//     padding-bottom:#{$i}px !important;
//   }
//   .u_pt-#{$i}_i{
//     padding-top:#{math.div($i,10)}px !important;
//   }
//   .u_pl-#{$i}_i{
//     padding-left:#{math.div($i,10)}px !important;
//   }
//   .u_pr-#{$i}_i{
//     padding-right:#{math.div($i,10)}px !important;
//   }
//   .u_pb-#{$i}_i{
//     padding-bottom:#{math.div($i,10)}px !important;
//   }

//   .u_pt#{$i}_e{
//     padding-top:#{$i}em;
//   }
//   .u_pr#{$i}_e{
//     padding-right:#{$i}em;
//   }
//   .u_pl#{$i}_e{
//     padding-left:#{$i}em;
//   }
//   .u_pb#{$i}_e{
//     padding-bottom:#{$i}em;
//   }
//   .u_pt-#{$i}_e{
//     padding-top:#{math.div($i,10)}em;
//   }
//   .u_pl-#{$i}_e{
//     padding-left:#{math.div($i,10)}em;
//   }
//   .u_pr-#{$i}_e{
//     padding-right:#{math.div($i,10)}em;
//   }
//   .u_pb-#{$i}_e{
//     padding-bottom:#{math.div($i,10)}em;
//   }

//   .u_pxsp#{$i}{
//     padding-left:#{$i}px ; 
//     padding-right:#{$i}px ; 
//   }
//   .u_pxsp-#{$i}{
//     padding-left:#{math.div($i,10)}px ; 
//     padding-right:#{math.div($i,10)}px ; 
//   }
//   .u_pxsp#{$i}_e{
//     padding-left:#{$i}em; 
//     padding-right:#{$i}em ; 
//   }
//   .u_pxsp-#{$i}_e{
//     padding-left:#{math.div($i,10)}em; 
//     padding-right:#{math.div($i,10)}em ; 
//   }

//   .u_pysp#{$i}{
//     padding-top:#{$i}px ; 
//     padding-bottom:#{$i}px ; 
//   }
//   .u_pysp-#{$i}{
//     padding-top:#{math.div($i,10)}px ; 
//     padding-bottom:#{math.div($i,10)}px ; 
//   }
//   .u_pysp#{$i}_e{
//     padding-top:#{$i}em; 
//     padding-bottom:#{$i}em; 
//   }
//   .u_pysp-#{$i}_e{
//     padding-top:#{math.div($i,10)}em; 
//     padding-bottom:#{math.div($i,10)}em; 
//   }



//   .u_gp#{$i}{
//     gap:#{$i}px;
//   }
//   .u_gp-#{$i}{
//     gap:#{math.div($i,10)}px;
//   }
//   .u_gp#{$i}_e{
//     gap:#{$i}em;
//   }
//   .u_gp-#{$i}_e{
//     gap:#{math.div($i,10)}em;
//   }
//   .u_lh#{$i}{
//     line-height: #{$i};
//   }
//   .u_lh-#{$i}{
//     line-height: #{math.div($i,10)};
//   }

//   .u_bd_rad#{$i}{
//     border-radius: #{$i}px;
//   }
//   .u_bd_rad-#{$i}_e{
//     border-radius: #{math.div($i , 10)}px;
//   }
//   .u_bd_rad#{$i}_e{
//     border-radius: #{$i}em;
//   }
//   .u_bd_rad-#{$i}_e{
//     border-radius: #{math.div($i , 10)}em;
//   }
// }



// @for $i from 1 through 100{
//   .u_wsp#{$i}{
//     width:calc(#{$i} * 1%);
//   }
  
//   .u_fs#{$i}{
//     font-size:#{$i}px;
//   }
//   .u_fs-#{$i}{
//     font-size:#{math.div($i,10)}px;
//   }

//   .u_fs#{$i}_e{
//     font-size:#{$i}em;
//   }
//   .u_fs-#{$i}_e{
//     font-size:#{math.div($i,10)}em;
//   }
  
//   .u_z#{$i}{
//     z-index: #{$i};
//   }


// }


// @for $i from 1 through 20{
 

//   .u_h_res#{$i*10}{
//     height:#{pvv(($i*10), $ww)} ;//#{$i*10px} ;
//   }
//   @media screen and (min-width: 897px) {
//     .u_h_res#{$i*10}{
//       height:#{$i*10px} ;
//     }
//   }

//   .u_w#{$i * 10}{
//     width: #{$i * 10%};
//   }
//   .u_w#{$i * 10}_i{
//     width: #{$i * 10%} !important;
//   }
//   .u_w#{$i}_e{
//     width:#{$i}em;
//   }
//   .u_w#{$i}_e_i{
//     width:#{$i}em !important;
//   }
//   .u_w#{$i * 10}_x{
//     width:#{$i * 10}px;
//   }
//   .u_w#{$i * 10}_x_i{
//     width:#{$i * 10}px !important;
//   }
//   .u_bd#{$i}{
//     border:#{$i}px solid;
//   }
//   .u_bd_l#{$i}{
//     border-left:#{$i}px solid;
//   }
//   .u_bd_r#{$i}{
//     border-right:#{$i}px solid;
//   }
//   .u_bd_b#{$i}{
//     border-bottom:#{$i}px solid;
//   }
//   .u_bd_t#{$i}{
//     border-top:#{$i}px solid;
//   }
// }

// @for $i from 3 through 20{
//   .u_mx#{$i * 100}{
//     max-width:#{ $i * 100px};
//     margin-left:auto ;
//     margin-right:auto ;
//   }
//   .u_mxrs#{$i * 100}{
//     max-width:#{$i * 100px};
//     margin-left:auto;
//     margin-right:auto;
//   }
// }


// @for $i from 1 through 30{
//   .u_py#{$i*10}_rs{
//     padding-top:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
//     padding-bottom:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-top:#{$i*10px} ;
//       padding-bottom:#{$i*10px} ;
//     }
//   }
// }

// @for $i from 1 through 30{
//   .u_px#{$i*10}_rs{
//     padding-left:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
//     padding-right:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-left:#{$i*10px} ;
//       padding-right:#{$i*10px} ;
//     }
//   }
//   .u_pr#{$i*10}_rs{
//     padding-right:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-right:#{$i*10px} ;
//     }
//   }
//   .u_pl#{$i*10}_rs{
//     padding-left:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-left:#{$i*10px} ;
//     }
//   }

//   .u_pyt#{$i*10}_rs{
//     padding-top:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-top:#{$i*10px} ;
//     }
//   }

//   .u_pyb#{$i*10}_rs{
//     padding-bottom:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ');
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-bottom:#{$i*10px} ;
//     }
//   }
//   .u_px#{$i*10}_rs_i{
//     padding-left:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
//     padding-right:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-left:#{$i*10px} !important ;
//       padding-right:#{$i*10px} !important ;
//     }
//   }
//   .u_pr#{$i*10}_rs_i{
//     padding-right:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-right:#{$i*10px} !important ;
//     }
//   }
//   .u_pl#{$i*10}_rs_i{
//     padding-left:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-left:#{$i*10px} !important ;
//     }
//   }

//   .u_pyt#{$i*10}_rs_i{
//     padding-top:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-top:#{$i*10px} !important ;
//     }
//   }

//   .u_pyb#{$i*10}_rs_i{
//     padding-bottom:unquote('max(#{math.div(($i*10),2)*1px}, #{pvv(($i*10), $ww)}) ') !important;
    
//     @media screen and (min-width: #{$break1}px) {
//       padding-bottom:#{$i*10px} !important ;
//     }
//   }
// }



// @for $i from 100 through 1000{
//   // .u_mx#{$i}{
//   //   max-width:#{$i}px;
//   //   margin:0 auto;
//   // }
  
// }



// .u_mx_def{
//   max-width:1380px;
//   margin-left:auto;
//   margin-right:auto;
// }
// .u_mx_25{
//   max-width: 250px;
//   margin-left:auto;
//   margin-right:auto;
// }
// .u_mx_126{
//   max-width: 1260px;
//   margin-left:auto;
//   margin-right:auto;
// }
// .u_mx_138{
//   max-width: 1380px;
//   margin-left:auto;
//   margin-right:auto;
// }
// .u_mx_none{
//   max-width:none;
// }
// .u_w_auto{
//   width:auto;
// }



// .u_sp{
// display: block;
// }
// .u_sp_64{
// display: block;
// }
// .u_pc{
// display: none;
// }

// .u_fw-7{
// font-weight: 700;;
// }
// .u_fw-6{
// font-weight: 600;;
// }
// .u_fw-5{
// font-weight: 500;;
// }

// .u_nw{
// white-space: nowrap;
// display: inline-block;
// }

// .u_nww{
// white-space: nowrap;
// }

// .u_sm{
// font-size:.9em;
// }
// .u_smm{
// font-size:.875em;
// }
// .u_smms{
//   font-size:.75em;
// }
// .u_smmm{
// font-size:.71em;
// }
// .u_smmx{
// font-size:.67em;
// }

// .u_fl1{
// flex:1;
// }

// .u_fl_d_c{
// flex-direction: column;
// }
// .u_fl_d_rv{
// flex-direction: row-reverse;
// }

// .u_fl_w_w{
// flex-wrap: wrap;
// }
// .u_fl_jc_sb{
// justify-content: space-between;
// }
// .u_fl_jc_ct{
// justify-content: center;
// }
// .u_fl_jc_fe{
//   justify-content: flex-end;
// }

// .u_fl_ai_fs{
// align-items: flex-start;
// }
// .u_fl_ai_fe{
// align-items: flex-end;
// }
// .u_fl_ai_ct{
// align-items: center;
// }
// .u_fl_ai_bl{
// align-items: baseline;
// }

// .u_fl_fd_rr{
// flex-direction: row-reverse;
// }
  

// .u_d_fl{
// display: flex;
// }
// .u_d_fl_i{
// display: flex !important;
// }
// .u_d_ifl{
// display: inline-flex;
// &._rs{
//   display: inline-block;
// }
// }
// .u_d_ifl_i{
// display: inline-flex !important;
// }
// .u_d_fl{
// &._rs{
//   display: block;
// }
// &._ds{
//   display: flex;
// }
// }
// .u_d_bk-sp{
//   display: block;
// }
// .u_d_bk{
// display: block;
// }
// .u_d_ilb{
// display: inline-block;
// }
// .u_d_no{
// display: none;
// }


// .u_tl_ct{
// text-align: center;
// }
// .u_tl_lt{
// text-align: left;
// }
// .u_tl_rt{
// text-align: right;
// }

// .u_tl_ct-sp{
// text-align:center;
// }

// .u_tl_ct-pc{
//   text-align:unset;
//   }

// .u_vt_rl{
// writing-mode: vertical-rl;
// }

// .u_tt_cl{
// text-transform: capitalize;
// }
// .u_tt_uc{
// text-transform: uppercase;
// }

// .u_val_md{
//   vertical-align: middle;
// }

// [class *= "u_wpc"]{
//   width:100%;
// }

// $i:1;
// @each $col in $colList {
//   .u_bgcol#{$i}{ background-color:#{$col};}  
//   .u_col#{$i}{color:#{$col};}
  
//   .u_bgcol#{$i}_i{ background-color:#{$col} !important;}  
//   .u_col#{$i}_i{color:#{$col} !important;}
//   $i: $i + 1;
// }




@media screen and (min-width: 641px) {
}

@media screen and (min-width: 897px) {
}
