
.site{
  &-header{
    background-color: $col1;
    // color:$col2;
    .navContainer{
      
      background-color: $col1;
      //calc(100vh - var(--hh))
      // overflow: hidden;
      top:calc(var(--hh) - 1px);
      // height:calc(100vh - var(--hh));
      max-height: calc(100vh - var(--hh));
      overflow:auto;
      opacity: 0;
      // animation-name:hide;
      animation-duration: .7s;
      animation-fill-mode: both;
      animation-direction: normal;
      animation-timing-function:cube-bezier(.32,.95,.6,1);
      pointer-events: none;
    }
    .gnav{
      height:100%;
    }
    .gnavList{
      &-item{
        padding:1em 1.5em;
      }
    }
    .btnSp{
      width:3.5rem;
      height:3.5rem;
      margin-right:1rem;
      position:relative;
      cursor: pointer;
      background-color: $col1;
      &-inner{
        width:100%;
        height:100%;
        position:relative;
      }
      .bar{
        display: block;
        position:absolute;
        top:0;left:0;right: 0;bottom:0;
        width:100%;
        height:2px;
        background-color: #fff;
        margin:auto;
        &:nth-child(1){
          transform:translateY(-.6em);
          animation-duration: .75s;
          animation-fill-mode:forwards;
        }
        &:nth-child(3){
          transform:translateY(.6em);
          animation-duration: .75s;
          animation-fill-mode:forwards;
        }
        &:nth-child(2){
          opacity: 1;
          transition:all .25s .25s;
        }
      }
    }
    &.on{ //header on
      .site-header{
        
      }
      .btnSp{
        .bar{
          &:nth-child(1){
            animation-name: on-bar1 !important;
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:nth-child(3){
            animation-name: on-bar3 !important;
          }
        }
      }
      .navContainer{
        transition:max-height .7s ease;
        pointer-events: all;
        animation-name:show !important;
      }
    }
  }
  &-title{
    width:clamp(48px, 12.3%, 78px);
    margin-left:1rem;
    padding:.7rem .5rem;
  }

  &-container{
    
    &.on{
      .site-main{
        
      }
    }
  }

  &-main{
    
  }
  
  &-footer{
    background-color: $col3;
  }

  &.top{
    .sec{
      &.sec1{
        height:300px;
        background: rgb(10,55,110);
        background: linear-gradient(0deg, rgba(10,55,110,1) 0%, rgba(10,55,110,1) 15%, rgba(112,138,170,1) 59%, rgba(202,212,224,1) 100%);
      }
    }
  }
}


@media screen and (min-width: 769px) {
  .site{
    &-header{
      .navContainer{
        top:0;
        height: auto;
        opacity: 1;
        pointer-events: all;
        animation-name:none;
      }
    }
  }
}
